.chat-widget {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
    
    border-radius: 20px;
}

.chat-bubble{
    display: flex;
    align-items: center;
    gap: 12px;
  
    padding: 12px 16px;
    background-color: #504141; 
    border-radius: 20px;      
   width: auto;
}
.chat-avatar{
    width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}
.chat-avatar img{
    width: 100%;
    border-radius: 50%;
}
.chat-text{
    color: white;
    font-size: 14px;
    white-space: nowrap; 
}