.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    margin-top: -60px;
}
.logo {
height: 60px;
margin-left: 30px;
}
.page-link{
display: flex;
gap: 20px;
margin-left: auto;
margin-right: 80px;
height: 60px;
}
.page-link a {
color: black;
text-decoration: none;
}
/* hover*/
.page-link a:hover {
    color: #6f6a64;
    border-bottom: 1px solid #6f6a64;
  }