.page-background {
    min-height: 100vh;
    width: 100vw;
    background-color: #EAE1D6; /* 淡茶色背景 */

    display: flex;
    justify-content: center;   /* 水平置中卡片 */
  
   padding-top: 40px;
  }
.page-card {
    width: 100%;
    max-width: 1100px;
    min-height: calc(100vh - 40px);

    background-color: #FFFCF2; /* 米白色 */
    border-radius: 20px 20px 0 0; /* 只有上方圓角 */
    margin: 0; /* 左右margin，上下無margin */
    padding: 40px 20px 0; /* 上方padding 40px，左右20px，下方無padding */
}