*, *::before, *::after {
    box-sizing: border-box;
  }

.page-background {
  min-height: 100%;
  width: 100vw;
  background-color: #eae1d6; /* 淡茶色背景 */

  display: flex;
  justify-content: center; /* 水平置中卡片 */

  padding-top: 40px;
}
.page-card {
  width: 100%;
  max-width: 1100px;
  min-height: calc(100vh - 40px);
  background-color: #fffcf2; /* 米白色 */
  border-radius: 20px 20px 0 0; /* 只有上方圓角 */
  margin: 0 auto; /* 水平置中 */
  padding: 40px 20px 0; /* 上方padding 40px，左右20px，下方無padding */
  
}
/*tablet*/
  @media (max-width: 768px) {
  .page-card {
    max-width: calc(100% - 40px); /* 左右各留 20px */
    margin: 0 20px; /* 水平置中 */
  }
}
/*mobile*/
@media (max-width: 480px) {
.page-card {
    max-width: calc(100% - 50px); /* 左右各留 10px */
    margin: 0 10px; /* 水平置中 */
    padding: 30px 15px 0;
    border-radius: 15px 15px 0 0;
}
}

  /* body { outline: 2px solid red; overflow-x: hidden; }
  * { outline: 1px solid rgba(255,0,0,.25); }
html, body { overflow-x: hidden; } */