


.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.image-wrapper img {
    width: 65%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.textcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    
}
.coursetitle{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 12px;
}
.courseintro{
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: #6f6a64;
    margin-bottom: 20px;
    width: 70%;
}
.register-button {
    padding: 12px 28px;
    font-size: 14px;
    letter-spacing: 1px;
  
    background-color: #2f2a26;
    color: #ffffff;
  
    border: none;
    border-radius: 999px;
    cursor: pointer;
  }
  
  .register-button:hover {
    opacity: 0.8;
  }
 